.theme-dark .guilds_a4d4d9{
    width: 48px;
    background-color: transparent;

    // When a call is in fullscreen, set guilds width to 0
    &.hidden_fea3ef{
        width: 0;
    }

    .listItem_c96c45{
        margin: 0;
        width: 48px;

        // Hover state
        &:hover .wrapper__8436d::before,
        .wrapper__8436d.selected_ae80f7::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: 4px;
            left: 4px;
            background-color: $ControlFillColorSecondary;
            border-radius: 4px;
            z-index: -1;
        }
        &:hover .wrapper__8436d::before{
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
        }

        // Pill
        & > div[class^="pill_"]{
            z-index: 1;
            .item_fd07a3{
                width: 3px;
                height: 16px !important;
                margin-left: 4px;
                background-color: $TextFillColorSecondary;
                border-radius: 999px;
                transform: none !important;

                // Normal state
                @for $i from 9 through 20{
                    &[style*="height: #{$i}"]{
                        background-color: $TextFillColorPrimary;
                    }
                }

                // Selected
                @for $i from 21 through 40{
                    &[style*="height: #{$i}"]{
                        background-color: $AccentFillColorDefault;
                    }
                }
            }
        }
        // Guild icon
        .wrapper_c5f96a{
            svg foreignObject{
                mask: none;
            }
            .icon_f90abb{
                width: var(--fluent-guilds-icon-size);
                height: auto;
                border-radius: 50%;
            }
            .acronym_f90abb{
                width: 24px;
                height: 24px;
                background-color: transparent;
                color: $TextFillColorPrimary;
                @include TypeBodyStrong;
            }
        }

        // Home
        .wrapper_f90abb{
            &[data-list-item-id="guildsnav___home"]{
                .childWrapper_f90abb {
                    background-color: transparent;
                    &::before{
                        content: "\E80F"; // Home
                        color: $TextFillColorPrimary;
                        @include FontIconFluent;
                        font-size: 16px;
                    }
                    svg{
                        display: none !important; // Required to remove 'festive' Discord icon
                    }
                }
            }
        }
        // Remove Home :active transform
        .listItemWrapper_dfb2f8:active{
            transform: none;
        }

        // Separator
        .guildSeparator_d0c57e{
            display: none;
        }
        // Add server/Server Discovery icons
        .circleIconButton_db6521{
            background-color: transparent;
            color: #FFF;
            &[aria-label]{
                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }
        // Offline
        .guildsError_aada25{
            background-color: $SystemFillColorCritical;
            border: 0;
            border-radius: 0;
            transition: none;
            font-weight: 400;
        }
        //badge
        .iconBadge_c96c45{
            background-color: $SystemFillColorSolidNeutral;
            svg{
                width: 12px;
                height: 12px;
                color: $TextOnAccentFillColorPrimary;
            }
        }
        .lowerBadge_c5f96a,
        .upperBadge_c5f96a{
            right: 6px;
            transform: none !important; // Override inline
        }
        .upperBadge_c5f96a{
            top: 6px;
        }
        .lowerBadge_c5f96a{
            bottom: 6px;
            z-index: 1;
        }
        .numberBadge_df8943 {
            background-color: $SystemFillColorCritical !important; // Override inline
            @include TypeCaption;
            color: $TextOnAccentFillColorPrimary;
        }
    }
    // Folders
    .wrapper_bc7085{
        .listItem_c96c45{
            .wrapper_c5f96a{
                svg{
                    mask{
                        display: none;
                    }
                }
            }
        }
        // Fix folder container being too tall
        ul[role="group"]{
            height: auto !important; // Override inline
        }

        // Round bottom of last guild in folder
        ul[id^="folder-items"] .listItem_c96c45:last-of-type{
            border-radius: 0 0 24px 24px;
        }
    }
    .folder_bc7085{
        background-color: transparent;
        &:hover::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            top: 4px;
            left: 4px;
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
            background-color: $ControlFillColorSecondary;
            border-radius: 4px;
            z-index: -1;
        }
    }
    .folderIconWrapper_bc7085{
        background-color: transparent !important; // Override inline
        border-radius: 0;
    }
    .closedFolderIconWrapper_bc7085{
        padding: 8px;
    }
    .expandedFolderBackground_bc7085{
        width: 40px;
        top: 4px;
        bottom: 4px;
        left: 4px;
        background-color: $SubtleFillColorSecondary;
        border-radius: 4px;
        &.collapsed_bc7085{
            background-color: transparent;
            box-shadow: none;
        }
    }
    .expandedFolderIconWrapper_bc7085{
        &::before{
            content: "\F12B"; // FolderHorizontal
            @include FontIconFluent;
            position: absolute;
            z-index: 1;
            font-size: 23px;
        }
    }

    // Connected to voice
    .iconBadge_c96c45.isCurrentUserConnected_c96c45{
        background-color: $SystemFillColorSuccess;
        &::before{
            content: "\F0B9"; // Connected
            @include FontIconFluent;
            color: $TextOnAccentFillColorPrimary;
            font-size: 10px;
            line-height: 1.5;
        }
        svg{
            display: none;
        }
    }

    // Unread notification bars
    .unreadMentionsIndicatorBottom_fea3ef,
    .unreadMentionsIndicatorTop_fea3ef{
        width: 48px;
        .bar_c10249{
            background-color: $SystemFillColorCriticalBackground;
        }
        span{
            font-size: 0;
            &::before{
                @include FontIconFluent;
                color: $SystemFillColorCritical;
                vertical-align: middle;
                font-size: 16px;
            }
        }
        &:hover span::before{
            color: $TextFillColorSecondary;
        }
    }

    .unreadMentionsIndicatorBottom_fea3ef{
        span{
            &::before{
                content: "\EDDC"; // CaretDownSolid8
            }
        }
    }
    .unreadMentionsIndicatorTop_fea3ef{
        span{
            &::before{
                content: "\EDDB"; // CaretUpSolid8
            }
        }
    }
}
