.theme-dark .contentColumn_c25c6d{
    // Permissions
    // Fix header
    &#permissions-tab{
        .title_c46f6a{
            @include TypeTitle;
        }

        // Advanced permissions
        // Header
        .advancedModeDivider_cd9517 ~ .button_dd4f85{
            margin-top: 32px;
            .contents_dd4f85{
                h2{
                    @include TypeBodyStrong;
                }
            }
        }
        // Sidebar
        .sidebarScrollable_ff90b2{
            .scroller_ff90b2{
                background-color: transparent;
            }
        }

        // Permissions list
        // Fix width
        .sidebarScrollable_ff90b2+.content_ff90b2{
            max-width: calc(1000px - 232px);
        }

        // The permissions
        .permissionsForm_a49993{
            .flex_dc333f.vertical_ec1a20{
                margin-bottom: 8px;
                padding: 8px 16px;
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;
                h4{
                    @include TypeBody;
                    line-height: 32px;
                }
                .description_b89ec7{
                    margin-right: 100px;
                    @include TypeCaption;
                }
            }
        }
    }

    // Invites
    // NOTE: 2023-06-17 - Cannot target Invites page
}
