.theme-dark .contentColumn_c25c6d{
    // Roles
    // Fix header
    &#roles-tab{
        .title_c46f6a{
            @include TypeTitle;
        }


        // Advanced permissions
        .contentContainer_e8251c{
            left: 256px;
        }
        .contentWidth_bd05f1{
            max-width: calc(1000px - 232px);
        }

        // Left
        .container_e87574{
            .titleContainer_e87574{
                padding-top: 40px;
                background-color: transparent;
                .titleText_e87574{
                    @include TypeSubtitle;
                    text-transform: none;
                }
            }
            .list_e87574{
                padding: 0 16px 96px 16px;
            }
        }
        // Right
        .header_bd05f1{
            padding-top: 40px;
            background-color: $CardStrokeColorDefaultSolid;
            .titleText_c69589{
                @include TypeSubtitle;
                text-transform: none;
            }
        }
    }


    // Server template
    // Fix header
    &#guild_templates-tab{
        .title_c46f6a{
            @include TypeTitle;
        }
    }

    // Custom invite link
    // Fix header
    &#vanity_url-tab{
        .title_c46f6a{
            @include TypeTitle;
        }
    }

    // Integrations
    &#integrations-tab{
        .title_c46f6a{
            @include TypeTitle;
        }
    }

    // Automod
    // Fix card background
    .editCard_cd99d3{
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;

        .ruleIconContainer_ea28e2{
            background-color: transparent;
        }
        // Pills
        .actionContainer_cec7a5{
            padding: 4px 8px;
            background-color: $SystemFillColorSolidNeutral;
            .actionIcon_cec7a5{
                color: $TextFillColorPrimary;
            }
            .actionTextHeader_cec7a5{
                color: $TextFillColorPrimary !important;
                font-weight: normal;
            }
        }


        .mentionLimitContainer_fa2661,
        .actionContainer_b6e944{
            background-color: $CardBackgroundFillColorDefault;
        }
        .keywordListContainer_f9f552{
            margin-bottom: 0;
            background-color: transparent;
        }
        .collapseable_a3cc4a{
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
        }

        // Select/drop down
        .container_effbe2{
            background-color: $ControlFillColorDefault;
        }
        .resultsList_debb5a{
            background: $SolidbackgroundFillColorQuarternary;
            border: 1px solid $SurfaceStrokeColorFlyout;
            border-radius: 4px;
        }

        // Textarea
        .keywordTextArea_a4df17{
            background-color: $ControlFillColorDefault;
            border: 1px solid;
            border-bottom-width: 2px;
            border-color: $ControlStrokeColorDefault;
            border-radius: 4px;
            &:hover{
                border-color: $ControlStrokeColorSecondary;
            }
            &:focus{
                background-color: $ControlFillColorInputActiveBrush;
                color: $TextFillColorPrimary;
                border-color: $ControlStrokeColorDefault;
                border-bottom-color: $AccentBase;
            }
        }
    }

    // Audit Log
    // NOTE: 2023-06-17 - Cannot target Audit log page

    // Server boot status
    // Fix title
    &#guild_premium-tab{
        .title_c46f6a {
            @include TypeTitle;
        }
    }

    // Members
    // NOTE: 2023-06-17 - Cannot target Members page

    // Invites
    // NOTE: 2023-06-17 - Cannot target Invites page

    // Edge case fixes
    // Channel Settings - Overview
    // Fixes no spacing between channel name text box and Bitrate sections
    .channel-settings-overview{
        .marginBottom40_f7730b{
            margin-bottom: 24px;
        }
    }

    // Always display the emoji name textbox
    .emojiInput_dc1809{
        opacity: 1;
    }
    .emojiAliasPlaceholder_dc1809{
        display: none;
    }
}
