.theme-dark .contentColumn_c25c6d{
    // Misc
    .notice-1Qe0b_{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        .text-3bXy2L{
            @include TypeBody;
            color: $TextFillColorPrimary;
            strong{
                font-weight: normal;
            }
        }
    }
    // Remove dividers
    .divider_b03b7f{
        display: none;
    }

    // My Account
    .accountProfileCard_b69b77{
        background-color: transparent;
        // Remove coloured banner
        .bannerSVGWrapper_b32cc2{
            display: none;
        }

        .userInfo_b69b77{
            height: 68px;
            margin: 0 0 32px 0;
            padding: 0;
            justify-content: flex-start;
            gap: 16px;
            align-items: center;
            // Avatar
            .avatar_b69b77{
                width: 64px !important; // Override inline
                height: 64px !important; // Override inline
                position: relative;
                top: unset;
                left: unset;
                border: 2px solid #000;
                svg{
                    width: unset !important; // Override inline
                    height: unset !important; // Override inline
                    foreignobject{
                        width: 64px !important; // Override inline
                        height: 64px !important; // Override inline
                        mask: unset !important;
                    }
                    rect{
                        display: none;
                    }
                    img{
                        border-radius: 50%;
                    }
                }
            }
            .button_dd4f85{
                display: none;
            }
        }

        // Body
        .background_b69b77{
            margin: 0;
            padding: 0;
            background-color: transparent;
        }
        .fieldList_b69b77{
            background-color: transparent;
            .field_b69b77{
                min-height: 64px;
                padding: 0 16px 0 48px;
                margin: 0 0 4px 0;
                background-color: $CardBackgroundFillColorDefault;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;

                .constrainedRow_b69b77{
                    align-items: center;
                }

                .fieldTitle_b69b77{
                    margin-bottom: 0;
                    @include TypeBody;
                }
                .text-md-normal__6e567{
                    @include TypeCaption;
                    color: $TextFillColorSecondary !important;
                }

                // Override the reveal button
                .button_dd4f85.lookLink_dd4f85{
                    min-width: unset;
                    padding: 0 0 0 4px;
                    background-color: unset;
                    border: unset;
                    .contents_dd4f85{
                        color: $AccentLight3;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }

            // Icons
            .field_b69b77{
                position: relative;
                &::before{
                    position: absolute;
                    top: 24px;
                    left: 16px;
                    @include FontIconFluent;
                    font-size: 16px;
                    color: $TextFillColorPrimary;
                }
                // Display name
                &:nth-child(1)::before{
                    content: "\E2AF"; // ContactInfo
                }
                // Username
                &:nth-child(2)::before{
                    content: "\E136"; // ContactInfo
                }
                // Email
                &:nth-child(3)::before{
                    content: "\E119"; // Mail
                }
                // Phone Number
                &:nth-child(4)::before{
                    content: "\E1C9"; // CellPhone
                }
            }


        }
    }

    // User profile
    &#profile-customization-tab{
        .heading-lg-semibold__58a54{
            @include TypeTitle;
        }

        // Fix large nickname text in profile preview
        // This fixes a Discord bug
        .userText_c9ccf6{
            h4{
                @include TypeSubtitle;
            }
        }
    }
    // About me
    .channelTextArea_d0696b{
        .bioTextArea_ccf27d{
            height: auto;
            background-color: $ControlFillColorDefault;
            border: 1px solid;
            border-bottom-width: 2px;
            border-color: $ControlStrokeColorDefault;
            border-radius: 4px;
            // Set a static emoji icon
            .emojiButton_d91a75{
                margin: 0 4px 0 0;
                &::before{
                    content: "\E76E"; //Emoji2
                    color: $TextFillColorSecondary;
                    @include FontIconFluent;
                    font-size: 16px;
                }
                &.emojiButtonHovered_d91a75::before{
                    color: $TextFillColorPrimary;
                }
                .contents_dd4f85{
                    display: none;
                }
            }
        }
        .characterCount_b82429{
            top: -24px;
            bottom: unset;
        }
    }

    // Authorised apps
    // Banner
    .formNotice_aae945{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        .formText_b89ec7{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
    // Apps
    .authedApp_f0135d{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        .permission_f0135d{
            .permissionCheckmark_f0135d{
                width: 16px;
                height: 16px;
                margin-right: 8px;
                background-color: $SystemFillColorSuccess;
                background-size: unset;
                background-image: none;
                border-radius: 50%;
                filter: none;
                &::before{
                    content: "\E001"; // CheckMark(Private)
                    @include FontIconFluent;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 16px;
                    text-align: center;
                    color: $TextOnAccentFillColorPrimary;
                }
            }
        }
    }

    // Connections
    // List of services
    .connectContainer_e2a436{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        // Header
        .connectHeader_e2a436{
            @include TypeBodyStrong;
        }
        // Account button
        .accountButtonInner_e2a436{
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
    }

    // Connection
    .connection_e2a436{
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        .connectionHeader_e2a436{
            padding: 16px;
            background-color: $SystemFillColorAttentionBackground;
            border-bottom: 1px solid $CardStrokeColorDefault;
            border-radius: 4px 4px 0 0;
            .connectionAccountValue_e2a436{
                margin-left: 16px;
                @include TypeBodyStrong;
            }
            .connectionAccountLabel_e2a436{
                margin-left: 16px;
                @include TypeCaption;
            }
        }
        .connectionOptionsWrapper_e2a436{
            padding: 16px 16px 0 16px;
        }
        .connectionOptionSwitch_e2a436{
            padding: 0;
            background-color: transparent;
            border: 0;
        }
        .title_ed1d57{
            @include TypeBody;
        }
        .integration_e2a436{
            background-color: $SystemFillColorAttentionBackground;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
        }
    }

    // Privacy & Safety
    &#privacy-\&-safety-tab{
        // 'In-game rewards (aka Drops)' (Beta)
        .container_ed1d57 {
            margin-bottom: 8px;
            padding: 16px;
            background-color: $SystemFillColorAttentionBackground;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
            .title_ed1d57{
                @include TypeBody;
            }
            .description_b89ec7 {
                @include TypeCaption;
                color: $TextFillColorSecondary;
            }
        }
        .dependentSetting__5c861{
            padding-left: 0;
        }
    }

    // Family Centre
    &#family-center-tab{
        // Activity tab boxes
        .container_b01337,
        .container_d7c696,
        .container_a2e886,
        .box_f70f48 {
            background-color: $SystemFillColorAttentionBackground;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
            box-shadow: none;
        }
        // Make the layout full-width
        .max-width_d00e26,
        .max-width_a2e886{
            max-width: unset;
        }

        // My family tab boxes
        .box_f70f48 {
            background-color: $SystemFillColorAttentionBackground;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
            box-shadow: none;
        }
        // Make the layout full-width
        .container_f70f48{
            max-width: unset;
        }
    }

    // Subscriptions
    &#subscriptions-tab{
        .sectionTitle_a206c7{
            margin-bottom: 32px;
            @include TypeTitle;
        }
    }

    // Billing
    &#billing-tab{
        // Only apply to the main header, not the secondary "Transaction History" header
        .title_c46f6a .flex_dc333f{
            margin-bottom: 32px;
            @include TypeTitle;
            // Remove lock icon
            svg{
                display: none;
            }
        }
    }

    // Appearance
    // Chat preview
    .preview_a614a7{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
    }
    // Theme
    .presets_f45ea6{
        padding: 16px;
        margin-bottom: 0;
    }
    // Nitro themes
    .premiumFeatureBorder_c6d722{
        margin: 0;
        background: transparent;
        border: 0;
        .headings_f45ea6{
            .title_f45ea6::after{
                content: "Fluent Discord - Colour themes are not supported";
                padding-left: 4px;
                color: $TextFillColorDisabled;
            }
        }
    }

    // a11y
    // Custom colours preview
    .preview_c31d36{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        .previewMessage_c31d36{
            background-color: $LayerFillColorDefault;
        }
    }

    // Voice & Video
    &#voice-\&-video-tab{
        // Fixes no spacing between video background and advanced sections
        .h1_c46f6a.title_c46f6a{
            margin-top: 24px;
        }
    }

    // Notifications
    // Fix unsub from marketing emails button
    &#notifications-tab{
        .marketingUnsubscribeButton_e04794{
            padding-right: 12px;
            padding-left: 12px;
        }
    }

    // Keybinds
    // Warning
    .container_bc1f7a.warning_bc1f7a{
        height: 48px;
        padding: 8px 16px;
        background-color: $CardBackgroundFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        @include TypeBody;
        .iconDiv_bc1f7a{
            align-self: center;
            svg{
                width: 16px;
                height: 16px;
                color: $SystemFillColorAttention;
            }
        }
        .text_bc1f7a{
            margin-left: 16px;
        }

        // Align the Add keybind button with middle of warning
        ~.flexChild_dc333f{
            align-self: center;
        }
    }
    // Default keybinds
    .defaultKeybindGroup_f916fc{
        border: 1px solid $CardStrokeColorDefault;
    }
    .defaultKeybindGroupHeader_f916fc {
        margin-bottom: 0;
        padding: 16px;
        background-color: $CardBackgroundFillColorDefault;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        @include TypeBody;
        text-transform: none;
    }
    .defaultKeybindGroupDescription_f916fc{
        margin-bottom: 0;
        padding: 0 16px 16px 16px;
        background-color: $CardBackgroundFillColorDefault;
        @include TypeCaption;
        color: $TextFillColorSecondary;
    }
    .defaultKeybind_f916fc{
        height: 64px;
        padding: 0 16px;
        background-color: $CardBackgroundFillColorSecondary;
        border-top: 1px solid $DividerStrokeColorDefault;
        .text-md-normal__6e567{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
        .defaultKeybindShortcutGroup_f916fc span{
            background-color: transparent;
            border: 1px solid $ControlStrokeColorDefault;
            box-shadow: inset 0 -4px 0 $ControlStrokeColorDefault;
            @include FontMonospace;
        }
    }
    // Catches the first keybind
    .children_a6ae9b > .defaultKeybind_f916fc{
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }

    // Registered games
    &#game-activity-tab{
        // Active game
        .activeGame_fd966d{
            &.notDetected_fd966d{
                background-color: $SystemFillColorAttentionBackground;
                border: 1px solid $CardStrokeColorDefault;
                border-radius: 4px;
            }
            &.nowPlayingAdd_fd966d{
                background-color: $SystemFillColorSuccesBackground;
            }
        }
        // Add new game
        .nowPlayingAdd_fd966d{
            width: 100%;
            padding: 8px 16px;
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
            span{
                color: $TextFillColorPrimary;
                line-height: 32px;
            }
            .button_dd4f85{
                float: right;
            }
        }

        // The games list
        .game_fd966d{
            padding: 12px 16px;
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-bottom: 0;
            box-shadow: none;
            &:first-of-type{
                border-radius: 4px 4px 0 0;
            }
            &:last-of-type{
                border-bottom: 1px solid $CardStrokeColorDefault;
                border-radius: 0 0 4px 4px;
            }
            &::before{
                display: none;
            }
        }

        // App name
        .gameName_fd966d{
            @include TypeBodyStrong;
        }
        // Last played
        .lastPlayed_fd966d{
            color: $TextFillColorSecondary;
            .default_e07331{
                @include TypeCaption;
                strong{
                    font-weight: normal;
                }
            }
            .hovered_e07331{
                @include FontMonospace;
                @include TypeCaption;
            }
        }
        .toggleContainer_fd966d{
            margin-right: 8px;
        }
        // Remove button
        .removeGame_fd966d{
            position: relative;
            top: unset;
            right: unset;
            opacity: 1;
            background-color: transparent;
            box-shadow: none;
            filter: brightness(200%) grayscale(100%);
            &:hover{
                filter: unset;
            }
        }
    }
}
