.theme-dark .title_a7d72e, // Normal toolbar
.theme-dark .container_e44302{ // Browse channels toolbar
    padding: 0 0 0 20px;
    &.themed_e44302{
        background-color: transparent;
    }
    // Channel & MOTD
    // Remove hash symbol
    .children_e44302{
        // Gradient at end of MOTD field
        &::after{
            display: none;
        }
        .iconWrapper_e44302{
            display: none;
        }
    }
    // Channel name
    .title_e44302{
        @include TypeBodyStrong
    }

    // Remove divider
    .divider_e44302{
        display: none;
    }

    // MOTD
    .topic_bf3bbb{
        color: $TextFillColorPrimary;
        @include TypeBody;
    }

    // Add some margin to the caret when in fullscreen thread view
    .caret_e44302{
        margin-right: 8px;
    }
}

// Toolbar
.theme-dark .toolbar_e44302{
    // Using these selectors so there are fewer conflicts in the voice screen
    div[role=button]:not(.iconLayout_effbe2), // :not excludes the search/clear button in the search bar
    button[type=button]{
        width: 60px;
        height: 32px;
        margin: 0 4px 0 0;
        border-radius: 4px;
        transition: background-color $AnimationFadeInOut;
        &:hover{
            background-color: $ControlFillColorSecondary;
            transition: background-color $AnimationFadeInOut;
        }
        > svg{ // Non-EN position fix
            position: absolute;
            top: 4px;
            left: 20px;
            width: 20px;
        }

        // Selected
        &.selected_e44302{
            background-color: $AccentFillColorSecondary;
            &::before{
                color: $TextOnAccentFillColorPrimary;
            }
            .count__03d4d{
                color: $TextOnAccentFillColorPrimary !important; // Override inline
            }
        }
        // Toggled (mute channel)
        &[aria-checked="true"]{
            color: $SystemFillColorCritical;
        }
    }
    .count__03d4d{
        position: absolute;
        top: 2px;
        left: 38px;
        @include TypeCaption;
    }
    .iconBadge_e44302{
        width: 16px;
        height: 3px;
        right: 22px;
        bottom: 0;
        border-radius: 2px;
        background-color: $SystemFillColorCritical;
        z-index: -1;
    }
}

// Icon replacements
html[lang^="en-"].theme-dark .toolbar_e44302{
    .iconWrapper_e44302{
        &::before{
            @include FontIconFluent;
            width: 60px;
            position: absolute;
            font-size: 16px;
            line-height: 32px;
            text-align: center;
            display: block;
        }
        // Remove default icon
        .icon_e44302,
        .controlIcon-35oS15{
            display: none;
        }
    }
}
