.theme-dark .attachment_b52bef{
    width: 400px;
    position: relative;
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-color: $SurfaceStrokeColorFlyout; // Override Discord CSS
    border-radius: 8px;

    img{
        display: none;
        & ~ .attachmentInner_b52bef{
            position: relative;
            padding-left: 40px;
            &::before{
                position: absolute;
                left: 0px;
                top: 8px;
                color: $TextFillColorPrimary;
                @include FontIconFluent;
                font-size: 24px;
            }
            .filenameLinkWrapper_b52bef a{
                line-height: 20px;
            }
        }

    }

    img[title="acrobat"] ~ .attachmentInner_b52bef::before{
        content: "\ea90"; // PDF
    }
    img[title="archive"] ~ .attachmentInner_b52bef::before{
        content: "\f012"; // ZipFolder
    }
    img[title="document"] ~ .attachmentInner_b52bef::before{
        content: "\f000"; // KnowledgeArticle
    }
    img[title="spreadsheet"] ~ .attachmentInner_b52bef::before{
        content: "\E9F9"; // ReportDocument
    }
    img[title="unknown"] ~ .attachmentInner_b52bef::before{
        content: "\e9ce"; // Unknown
    }

    img[title="ae"] ~ .attachmentInner_b52bef::before,
    img[title="ai"] ~ .attachmentInner_b52bef::before,
    img[title="sketch"] ~ .attachmentInner_b52bef::before{
        content: "\e8a5"; // Document
    }

    .metadata_b52bef{
        color: $TextFillColorSecondary;
        @include TypeCaption;
        font-weight: normal;
    }
}
