.theme-dark .textContainer_ad9cbd{
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px 8px 0 0;
    .codeView-1JPDeA{
        white-space: break-spaces;
    }
}

// Footer
.theme-dark .footer_ad9cbd{
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-top: 0;
    border-radius: 0 0 8px 8px;

    @include TypeCaption;
    color: $TextFillColorPrimary;
}

// Codeblock
.theme-dark .markup_d6076c code{
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
}
