.theme-dark .channelTextArea_a7d72e{
    &:focus-within{
        .autocomplete_f23da8{
            border-color: $ControlStrokeColorDefault;
        }
    }
}

.theme-dark .autocomplete_f23da8{
    bottom: calc(100% + 4px);
    box-shadow: none;
    background-color: $CardStrokeColorDefaultSolid;
    border: 1px solid $ControlStrokeColorDefault;
    border-radius: 4px;

    .rail_fe2299{
        background-color: $CardStrokeColorDefault;
    }

    .section_efd8e6{
        > div[role=button]{
            width: 32px;
            height: 32px;
            background-color: $ControlFillColorDefault;
            border: 1px solid $ControlStrokeColorDefault;
            border-radius: 4px;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
            svg{
                width: 24px;
                height: 24px;
                margin: 4px;
            }
            .wrapper_a69fe5{
                padding: 0 !important; // Override inline
            }
        }
    }

    // Commands header
    .categoryHeader_fe2299{
        background-color: $CardStrokeColorDefaultSolid;
        .headerLabel_e06857{
            @include TypeBody;
            color: $TextFillColorPrimary;
            text-transform: none;
        }
    }

    // Commands matching: header
    .contentTitle_f23da8{
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-transform: none;
        strong{
            @include FontMonospace;
            @include TypeBody;
            &::before,
            &::after{
                content: "\"";
            }
        }
    }

    // Command
    .base_f23da8{
        &.selected-3H3-RC{
            background-color: $SubtleFillColorSecondary;
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow;
        }
        .title_e18e73{
            @include FontMonospace;
            @include TypeBody;
        }
        .usageWrapper_e18e73{
            .optionalCount_e18e73{
                @include TypeBody;
                color: $TextFillColorTertiary;
            }
            .option_e18e73{
                padding: 0;
                margin-left: 1ch;
                background-color: transparent;
                @include FontMonospace;
                @include TypeBody;
                &::before{
                    content: "{";
                }
                &::after{
                    content: "}";
                }
            }
        }

        // Command description
        .description_e18e73{
            @include TypeCaption;
            color: $TextFillColorTertiary;
        }
    }
}
