.theme-dark .wrapper_ef319f{
    background-color: $ControlOnImageFillColorDefault;
    border: 1px solid $ControlStrokeColorDefault;
}

html[lang^="en-"].theme-dark .wrapper_ef319f{
    .button_ef319f[aria-label]{
        &::before{
            @include FontIconFluent;
        }
        svg{
            display: none;
        }
    }
}
