
.chatContent_a7d72e{
    background-color: $LayerFillColorDefault;
    border-radius: 8px 0 0 0;
    // Remove drop-shadow
    &::before{
        content: unset;
    }
}
.container_ed4410, // Stage
.chatContent_a7d72e{
    // background-color: transparent;
}

// New/old messages bars
.barBase_cf58b5{
    margin: 0 auto;
    max-width: 598px;
    min-height: 32px;
    border: 1px solid $CardStrokeColorDefault;
    box-shadow: none;
    border-radius: 4px;
    .barButtonMain_cf58b5{
        @include TypeBody;
    }
    .barButtonAlt_cf58b5{
        display: none;
    }
}
// New messages bar
.newMessagesBar_cf58b5{
    top: 8px;
    background-color: $AccentLight1;
    .barButtonBase_cf58b5{
        color: $TextOnAccentFillColorPrimary;
    }
}
// Old messages bar
.jumpToPresentBar_cf58b5{
    bottom: 8px;
    padding-bottom: 0;
    background-color: $CardStrokeColorDefaultSolid;
}
// Errored bar
.messagesErrorBar_cf58b5{
    bottom: 8px;
    background-color: $SystemFillColorCriticalBackground;
    border-color: $CardStrokeColorDefault;
    padding-bottom: 0;
}

// Start of server
.container_c2668b{
    align-items: flex-start;
    padding: 0;
    .titleName_f9902b{
        text-align: left;
        @include TypeTitle;
        p{
            margin-right: .5rem;
            display: inline-block;
        }
    }
    .subtitle_f9902b{
        text-align: left;
        color: $TextFillColorPrimary;
        @include TypeBody;
    }
}

// Start of channel
.container_c2668b{
    padding: 16px;
    .header_c2668b{
        @include TypeTitle;
    }
    .description_c2668b{
        color: $TextFillColorPrimary;
        @include TypeBody;
    }
}
.emptyChannelIcon_c2668b{
    display: none;
}

// Divider
.divider_c2654d{
    justify-content: flex-end;
    border-color: $DividerStrokeColorDefault;
    .content_c2654d,
    .unreadPill_c2654d{
        padding: 2px 8px;
        background-color: $SystemFillColorSolidNeutralBackground;
        color: $TextFillColorPrimary;
        @include TypeCaption;
    }
    .unreadPill_c2654d{
        height: unset;
        top: -1px;
        background-color: $SystemFillColorCriticalBackground;
        border-radius: 8px;
        color: $SystemFillColorCritical;
        text-transform: capitalize;
        svg{
            display: none;
        }
    }
    &.isUnread_c2654d{
        // NOTE: 2021-08-29 - The border should technically be SystemFillColorCriticalBackground, but is barely visisble, so using the text fill instead.
        border-color: $SystemFillColorCritical;
        .content_c2654d{
            border-radius: 8px 0 0 8px;
        }
        .unreadPill_c2654d{
            position: relative;
        }
    }
    // Border radius when date and new message divider are combined
    span+span{
        border-radius: 0 8px 8px 0 !important; // Override inline
    }
}

// Chat message
.message_d5deea{
    // Remove hover
    &:hover{
        background-color: transparent !important; // Force catch-all to avoid adding .mouse-mode etc classes for this
    }
    // Remove background on mentioned message
    &.mentioned_d5deea{
        background-color: transparent;
        &::before{
            left: 3px;
            background-color: $SystemFillColorCaution;
            border-radius: 1px;
        }
    }
}

// Reactions
.reaction_ec6b19,
.reaction_ec6b19{ // Threads channel
    background-color: $ControlFillColorDefault;
    border: 1px solid $ControlStrokeColorDefault;
    color: $TextFillColorPrimary;
    border-radius: 4px;
    &:hover{
        background-color: $ControlFillColorSecondary;
    }
    &:active{
        background-color: $ControlFillColorTertiary;
    }
    &.reactionMe_ec6b19{
        border-color: $AccentBase;
    }
    .reactionCount_ec6b19{
        color: $TextFillColorPrimary;
        @include TypeBody;
    }
    &.reactionReadOnly_ec6b19{
        background-color: $ControlFillColorDisabled;
        border: 1px solid $ControlStrokeColorDefault;
        .reactionCount_ec6b19{
            color: $TextFillColorDisabled;
        }
        &:hover .reactionCount_ec6b19{
            color: $TextFillColorDisabled;
        }
    }
}

// Thread
.container_c15230{
    background-color: $CardBackgroundFillColorDefault;
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
}

// inline code
.markup_f8f345 code{
    background-color: $LayerFillColorDefault;
}

// Blocked message
.compact_e62b38 .blockedSystemMessage_c09d0f{
    margin-left: -5ch;
    .iconContainer_e62b38{
        margin-right: 1ch;
        padding-top: 2px;
        &::before{
            content: "\ECE4"; // Blocked2
            @include FontIconFluent
        }
        svg{
            display: none;
        }
    }
}
.cozy_e62b38 .blockedSystemMessage_c09d0f{
    .iconContainer_e62b38{
        padding-top: 2px;
        &::before{
            content: "\ECE4"; // Blocked2
            @include FontIconFluent
        }
        svg{
            display: none;
        }
    }
}

// Remove avatar borders/decorations
.avatarDecoration_f9f2ca{
    display: var(--fluent-show-avatar-decorations);
}

// Loading chat messages
.wrapper_ba0ffb{
    background-color: transparent;
    // The placeholding items wrappers
    .wrapper_b75bb9{
        background-color: transparent;
    }
}

// Edit message
.channelTextArea_d5deea{
    .scrollableContainer_d0696b{
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom: 2px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:focus-within{
            background-color: $ControlFillColorInputActiveBrush;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
        }
    }
    .emojiButton_af14ca{
        height: 32px;
        width: 32px;
        margin: 6px 4px 0 0;
        border: 1px solid transparent;
        &::before{
            content: "\E76E"; //Emoji2
            color: $TextFillColorSecondary;
            @include FontIconFluent;
            font-size: 16px;
        }
        &.emojiButtonHovered_af14ca{
            background-color: $ControlFillColorDisabled;
            border-color: $ControlStrokeColorDefault;
            &::before{
                color: $TextFillColorPrimary;
            }
        }
        .contents_dd4f85{
            display: none;
        }
    }
}

