.theme-dark .chat_a7d72e{
    background-color: transparent;
}

.theme-dark .container_a6d69a{
    background-color: $LayerFillColorDefault;
    border-top: 1px solid $CardStrokeColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;
    border-radius: 8px 0 0 0;

    // Threads
    .mainCard_a6d69a{
        background-color: $LayerFillColorAlt;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;

        &.container_d331f1:active,
        &.container_d331f1:hover{
            transform: none;
            box-shadow: none;
            border-color: $CardStrokeColorDefaultSolid;
        }

        .postTitleText_d331f1{
            color: $TextFillColorPrimary !important; // Override inline
            @include TypeBodyStrong;
        }
        .messageContent_d331f1{
            @include TypeBody;
        }
    }

    // No threads
    .container-2nXUah{
        background-color: $LayerFillColorAlt;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
    }
}
