.theme-dark .container_d1c246{
    background-color: transparent;
    border-radius: 0;

    // Toolbar
    .container_e44302{
        background-color: transparent;
        .children_e44302{
            // Removes small gradient
            &::after{
                display: none;
            }
            > .iconWrapper_e44302{
                display: none;
            }
            .title_e44302{
                @include TypeBodyStrong;
            }
        }
    }

    // Archived header
    .chatHeaderBar_e2f46e{
        margin: 8px;
        background-color: $SystemFillColorSolidNeutralBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 8px;
        .chatHeaderBarText_e2f46e{
            color: $TextFillColorPrimary;
        }
    }

    // Forum thread
    .container_b385c8{
        margin: 16px;
        padding: 4px 8px;
        background: $MicaBackgroundFillColorBase;
        border: 1px solid $SurfaceStrokeColorFlyout;
        border-radius: 8px;

        // Only apply filter when stickied
        &.header_b385c8{
            backdrop-filter: blur(8px);
            @include Elevation32;
        }

        // Fix follow/link button sizes
        .button_b385c8 {
            min-width: unset;
        }
        .buttonInner_b385c8,
        .reactionInner_f61c73,
        .addReactButton_b385c8{
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            border-radius: 4px;
        }
    }
    .divider_af45f8{
        display: none;
    }
}

.theme-dark .chat_fe669e{
    border-top: 1px solid $CardStrokeColorDefault;
    border-left: 1px solid $CardStrokeColorDefault;
    border-radius: 8px 0 0 0;
    &::before{
        display: none;
    }
}
.theme-dark .chat_a7d72e.threadSidebarOpen_a7d72e{
    border-radius: 0;
    .content_a7d72e{
        border-right: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 8px 0 0;
    }
    .chatContent_a7d72e{
        border-radius: 8px 8px 0 0;
    }
}

.theme-dark .resizeHandle_d1c246{
    position: relative;
    background-color: transparent;
    &::before{
        content: "";
        width: 3px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 3px;
        margin-top: -64px;
        background-color: $ControlStrokeColorSecondary;
        border-radius: 9999px;
        opacity: 0;
        transition: opacity 167ms Cubic-bezier(0,0,0,1)
    }
    &:hover::before{
        opacity: 1;
        transition: opacity 250ms Cubic-bezier(0.55,0.55,0,1);
    }
}

// Narrow window
.theme-dark .chatLayerWrapper_d1c246{
    .container_d1c246 {
        background-color: $SolidBackgroundFillColorBase;
        &.floating_d1c246{
            border-left: 0;
        }
        .chat_f57fdc{
            border-radius: 0;
        }
    }
}
