.theme-dark{
    .tabBar_f1fd9c,         // A: Guild > Channels & Roles
    .tabBar_b9fccc,         // B: User profile modal
    .tabBar_bff66b,         // C: User Settings > Profiles
    .settingsTabBar_d576e9, // D: User Settings > Family Centre
    .tabBar_a31cc1,         // E: Event information modal
    .top_a0{            // F: User Settings > Privacy & Safety
        border-bottom: 0;

        // Items
        .item_a0{
            @include TypeBody;
            color: $TextFillColorPrimary;
            border: 0;
            &:hover{
                color: $TextFillColorSecondary;
            }
            &.selected_a0{
                border: 0;
                &::before{
                    content: "";
                    width: 16px;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 8px);
                    background-color: $AccentTextFillColorPrimary;
                    border-radius: 999px;
                }
            }

            // Special cases
            // A: Badge for total channels
            .textBadge_f05120{
                background-color: $SystemFillColorSolidNeutralBackground !important; // Override inline
                @include TypeCaption;
            }
        }
    }
}
