.theme-dark .root_cd3d24{
    margin-top: 0;
    background-color: transparent;

    .shelfTopBackground_cd3d24{
        display: none;
    }

    // Header
    .headerTextContainer_cd3d24{
        align-items: unset;
    }
    .activityShelfTitle_cd3d24{
        justify-content: unset;
        .heading-xl-extrabold__8ed5c{
            @include TypeSubtitle;
        }
    }
    .text-sm-normal__95a78{
        margin-top: 4px;
    }

    // Content
    .scrollTierBackground_f09e45{
        background-color: $LayerFillColorAlt;
    }

    .activityItem_d46b95{
        background-color: $CardBackgroundFillColorDefault;
    }
    .activityTitleText_d46b95{
        @include TypeBodyStrong;
    }
    .activitySubtitleText_d46b95{
        @include TypeCaption;
    }
    .activityTag_d46b95{
        padding: 2px 8px;
        background-color: $SystemFillColorSolidNeutralBackground;
        @include TypeCaption;
        color: $TextFillColorSecondary !important; // Override inline
    }
}
