.theme-dark{
    .header_b58b14{
        @include TypeSubtitle;
        text-align: left;
    }

    .problemInfo_b58b14{
        .root_c3b890{
            background-color: $CardBackgroundFillColorDefault;
            border: 1px solid $CardStrokeColorDefault;
            border-radius: 4px;
        }
        .option_c3b890{
            &:hover{
                background-color: $CardBackgroundFillColorSecondary;
            }
        }
        .text_c3b890{
            @include TypeBody;
        }
    }
}
