.theme-dark .modalContent_acae5d{
    h2{
        @include TypeSubtitle;
        text-align: left;
        text-transform: none;
    }
    .body_acae5d{
        @include TypeBody;
        text-align: left;
        strong{
            color: $AccentTextFillColorPrimary;
        }
    }
}
