.theme-dark{
    .header_f9a4c9 .heading-xl-extrabold__8ed5c{
        @include TypeSubtitle;
        text-align: left;
    }
    .ratingBody_b58b14{
        @include TypeBody;
        color: $TextFillColorPrimary;
        text-align: left;
    }

    .emojis_b58b14{
        width: auto;
        margin: 32px 0 0 0;
    }
}
