.theme-dark{
    // To find: Hover on channel with active threads and click 'See All' on the popout
    .modal_a60b1b{
        background-color: $SolidBackgroundFillColorBase !important; // Override inline
    }

    .container_e664f3{
        background-color: transparent;
    }

    // Header
    .header_e664f3{
        height: unset;
        min-height: unset;
        padding: 24px 24px 0 24px;
        background-color: transparent;
        // Remove icon
        .threadIcon_e664f3{
            display: none;
        }
        // Remove divider
        .divider_e664f3{
            display: none;
        }
        // Remove spacer
        .spacer_e664f3{
            display: none;
        }
    }

    // Thread list
    .list_c6aa12{
        padding: 0 24px;
        padding-right: 24px !important;
    }
    // Sub headers
    .sectionHeader_c6aa12{
        @include TypeBodyStrong;
        text-transform: none;
        margin-top: 24px;
    }
    // List item
    .container_acb8b3{
        height: auto;
        padding: 12px;
        background-color: $SubtleFillColorSecondary;
        border: 1px solid $SubtleFillColorSecondary;
        border-radius: 4px;
        &:hover{
            background-color: $SubtleFillColorTertiary;
        }
        &:active{
            .threadNameLine_acb8b3 span{
                color: $TextFillColorSecondary;
            }

        }

        // Thread title
        .threadNameLine_acb8b3{
            @include TypeBodyStrong;
            span{
                color: $TextFillColorPrimary;
            }
        }
        // Subtext
        .subtext_acb8b3{
            margin-top: 8px;
            @include TypeCaption;
            color: $TextFillColorSecondary !important;
        }
    }
}

// Redundancy in the moderator's Active Threads modal 🙃
.theme-dark{
    // To find: Be a moderator in a server with active threads. Open 'Active Threads' from the server dropdown
    .container_f30e90{
        background-color: transparent;
    }
    .header_f30e90{
        height: unset;
        min-height: unset;
        padding: 24px;
        background-color: transparent;
        .threadIcon_f30e90{
            display: none;
        }
    }
}
