.theme-dark .userPopoutOuter_c69a7b{
    // Remove style from context menu in user popout
    .menu_d90b3d.menu_ad5fac{
        background-color: transparent;
        border: 0;
        box-shadow: none;
        &::before{
            content: unset;
        }

        .separator_d90b3d{
            display: none;
        }

        .item_d90b3d{
            // Remove icon
            .iconContainerLeft_d90b3d{
                display: none;
            }
        }
    }
}
