// Voice activity
.theme-dark .container__56cd1 {
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;

    // Remove channel icon
    .channelIcon__45e38{
        display: none;
    }
    .channelName__41380{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary !important; // Override inline
    }
    // Channel user count
    .container_c23582{
        background-color: transparent;
        svg{
            display: none;
        }
        .userCountText_c23582{
            color: $TextFillColorSecondary;
        }
    }

    // Timebar
    .bar_aa267a {
        height: 3px;
        background-color: $ControlStrokeColorDefault;
        margin: 0 8px;
    }
    .barInner_aa267a{
        height: 3px;
        background-color: $AccentBase;
    }
    // Timecode
    .text_aa267a{
        @include TypeCaption;
    }
}

// Active thread
.popout_c5b389{
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;
    .title_c5b389{
        @include TypeBodyStrong;
        color: $TextFillColorPrimary !important; // Override inline
        text-transform: none;
    }

    .row_c5b389:hover{
        background-color: $AccentBase;
        color: $TextOnAccentFillColorPrimary;
        .timestamp_c5b389{
            color: $TextOnAccentFillColorPrimary;
        }
    }
}

// Stream preview
.theme-dark .streamPreview_adbea6{
    background: $SolidBackgroundFillColorSecondary;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorFlyout;
    border-radius: 8px;
    @include Elevation32;

    .previewContainer_adbea6{
        background-color: transparent;
    }

    // Remove tip
    .protip_adbea6{
        display: none;
    }
}
