.theme-dark .contentWrapper_af5dbb,
.theme-dark #emoji-picker-tab-panel{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;
}

.theme-dark .contentWrapper_af5dbb #emoji-picker-tab-panel{
    background: transparent;
    backdrop-filter: none;
    border: 0;
    border-radius: 0;
}

.theme-dark{
    // Navigation
    .nav_af5dbb{
        .navButton_af5dbb {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 16px;
            color: $TextFillColorPrimary;
            border-radius: 0;
            &:hover{
                background-color: transparent;
                color: $TextFillColorSecondary;
            }

        }
        .navButtonActive_af5dbb {
            background-color: transparent;
            color: $AccentTextFillColorPrimary;
            &::before{
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 2px;
                background-color: $AccentLight3;
                border-radius: 2px;
            }
            &:hover{
                color: $TextFillColorSecondary;
            }
        }
    }

    // Header
    .emojiPickerHasTabWrapper_c6ee36 .header_c6ee36{
        padding: 0 12px 12px;
    }
    .header_c6ee36, // Emoji
    .header_d8cdac, // Stickers
    .header_b56bbc{ // GIFs
        background-color: transparent;
        box-shadow: none;
    }
    // Search
    .inner_effbe2{
        padding: 0;
    }
    .container__33507{ // GIFs search
        background-color: transparent;
    }
    // Emoji search
    // Fix inherited height
    .medium_effbe2 .input_effbe2{
        height: 32px;
    }
    .input_effbe2{
        margin: 0;
        padding-right: 32px;
        background-color: $ControlFillColorDefault;
        color: $TextFillColorSecondary;
        border: 1px solid $ControlStrokeColorDefault;
        border-bottom: 2px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        @include TypeBody;
        &:hover{
            border-color: $ControlStrokeColorSecondary;
        }
        &:focus{
            background-color: $ControlFillColorInputActiveBrush;
            color: $TextFillColorPrimary;
            border-color: $ControlStrokeColorDefault;
            border-bottom-color: $AccentBase;
        }
        &::placeholder{
            @include TypeBody;
        }
    }
    // Search clear button
    .iconLayout_effbe2{
        position: absolute;
        top: 6px;
        right: 4px;
        &.medium_effbe2{
            width: 22px;
            height: 22px;
            .iconContainer_effbe2{
                width: 16px;
                height: 16px;
            }
        }
    }

    // Emoji
    // Sidebar
    .categoryList_c6ee36{
        background-color: $SolidBackgroundFillColorBase;
    }
    // Replace emoji icons
    .categoryItemDefaultCategory_dfa278{
        &.categoryItem_dfa278{
            svg{
                display: none;
            }
            &::before{
                padding: 2px;
                color: $TextFillColorPrimary;
                @include FontIconFluent;
                font-size: 20px;
                line-height: calc(32px - 8px);
                vertical-align: middle;
            }
            &[aria-label="top guild emoji"]::before{
                content: "\E734"; // FavoriteStar
            }
            &[aria-label="recent"]::before{
                content: "\E81C"; // History
            }
            &[aria-label="people"]::before{
                content: "\ED53"; // EmojiTabPeople
            }
            &[aria-label="nature"]::before{
                content: "\E8BE"; // Leaf
            }
            &[aria-label="food"]::before{
                content: "\ED56"; // EmojiTabFoodPlants
            }
            &[aria-label="activity"]::before{
                content: "\EA86"; // Puzzle
            }
            &[aria-label="travel"]::before{
                content: "\ED57"; // EmojiTabTransitPlaces
            }
            &[aria-label="objects"]::before{
                content: "\ED55"; // EmojiTabCelebrationObjects
            }
            &[aria-label="symbols"]::before{
                content: "\ED58"; // EmojiTabSymbols
            }
            &[aria-label="flags"]::before{
                content: "🏳‍🌈";
                @include TypeBody;
            }
        }
    }
    // Info bar
    .inspector_c3120f {
        background-color: $SolidBackgroundFillColorSecondary;
    }
    // "Popular" badge in info bar
    .topGuildEmojiBadge_c3120f{
        display: none;
    }

    // Emoji category header
    .header_a3bc57,
    .wrapper_e06857{
        margin: 0 -8px;
        padding: 0 16px;
        background-color: $SolidBackgroundFillColorTertiary;
        border-radius: 4px;
        .headerLabel_e06857{
            @include TypeBodyStrong;
            color: $TextFillColorPrimary;
            text-transform: none;
        }
    }

    // Colour change
    .diversitySelectorButton_cce80d{
        width: 30px;
        height: 30px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        position: relative;
        .diversityEmojiItemImage_cce80d{
            margin: 3px;
        }
    }
    // Diversity selector in stand alone emoji popout (eg. reaction)
    .diversitySelectorOptions_cce80d {
        // top: 0;
        right: 12px;
    }
    .diversitySelectorOptions_cce80d {
        border: 1px solid $ControlStrokeColorDefault;
        .diversityEmojiItem_cce80d{
            width: 30px;
            height: 30px;
            padding: 0;
        }
        .diversityEmojiItemImage_cce80d{
            margin: 3px;
        }
    }


    // Nitro prompt
    .premiumPromo_ca9b56{
        background-color: $CardStrokeColorDefaultSolid;
        .premiumPromoImage_ca9b56{
            display: none;
        }
        .premiumPromoTitle_ca9b56{
            @include TypeBodyLarge;
        }
        .premiumPromoDescription_ca9b56{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
}
