.theme-dark .picker_cd703d{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    // Search box
    .header_d0dc1d{
        box-shadow: none;
    }
    // Volume control
    .settingsClickArea_ca5acd{
        width: 32px;
        height: 32px;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        svg{
            padding: 6px;
        }
    }

    // Servers
    .categoryList_ceda83{
        background-color: $SolidBackgroundFillColorBase;
    }

    // Sounds
    // Section header
    .sectionHeader_ca5acd{
        .sectionTitle_ca5acd{
            @include TypeBodyStrong;
            text-transform: none;
            color: $TextFillColorPrimary;
        }
    }

    // Sound
    .soundButton_f40049{
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        .ssoundName_f40049{
            @include TypeBody;
        }
        .buttonOverlayBackground_f40049{
            background-color: $ControlFillColorInputActiveBrush;
            opacity: 1;
        }
    }

    // keybind reminder
    .keybindHint_c66e5e{
        margin: 8px;
        padding: 8px 16px;
        background-color: $SystemFillColorAttentionBackground;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        .warningIcon_c66e5e{
            color: $SystemFillColorAttention;
            // Wrong icon used for this type of info bar, so rotate it 180deg to change it into an 'i'
            transform: rotate(180deg);
        }
        .keybindHintText_c66e5e{
            @include TypeBody;
        }
    }
}
