.theme-dark .browser_f542fc{
    background: $MicaBackgroundFillColorBase;
    backdrop-filter: blur(16px);
    border: 1px solid $SurfaceStrokeColorDefault;
    border-radius: 8px;

    // header
    .header_e664f3{
        height: unset;
        min-height: unset;
        padding: 12px 24px;

        background-color: transparent;
        .threadIcon_e664f3{
            display: none;
        }
        .title_e664f3{
            @include TypeSubtitle;
        }
    }

    // Thread list
    .list_c6aa12{
        padding: 0 24px !important; // Override inline

        .sectionHeader_c6aa12{
            @include TypeBodyStrong;
            color: $TextFillColorPrimary !important; // Override inline
            text-transform: capitalize;
        }
    }

    // Thread
    .container_acb8b3{
        background-color: $CardBackgroundFillColorDefault;
        border-radius: 4px;
        .threadNameLine_acb8b3{
            margin-bottom: 4px;
            @include TypeBody;
            .threadName_acb8b3{
                color: $TextFillColorPrimary;
            }
        }
        .subtext_acb8b3{
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }
    }
}
