// Remove background from RTC/account
.theme-dark .panels_a4d4d9{
    background-color: transparent;

    // Remove 1px margin from bottom of panel
    .container_b2ca13{
        background-color: transparent;
        height: 48px;
        margin-bottom: 0;
    }

    // Remove margin on avatar/username wrapper
    .avatarWrapper_b2ca13{
        margin-right: 0;
        &:hover{
            background-color: transparent;
        }
    }

    .button_f67531{
        margin-left: 4px;
        background-color: $ControlFillColorDefault;
        border: 1px solid $ControlStrokeColorDefault;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
        .contents_dd4f85{ // Non-EN sizing fix
            .lottieIcon_f73ef7{
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }
        &:first-child{
            margin-left: 0;
        }

        // Make muted buttons red
        &[aria-checked=true]{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
        }
    }
}

