// Remove border radius from top-left
.theme-dark.platform-win .sidebar_a4d4d9{
    border-radius: 0;

    // Channel header
    .header_fd6364{
        background-color: transparent;
        box-shadow: none;
        cursor: default;
        .name_fd6364{
            @include TypeBodyStrong;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        // Remove guild boost icon
        .guildIconV2Container_ed9816{
            display: none;
        }
        // Remove dropdown icon
        .headerChildren_fd6364{
            display: none;
        }
    }
    .clickable_fd6364 .header_fd6364:hover,
    .selected_fd6364 .header-2V-4Sw{
        background-color: transparent;
    }
    // Remove server boost icon
    .guildIconContainer_ed9816{
        display: none;
    }

    // Remove 'Public'
    .communityInfoContainer_fd6364{
        display: none;
    }

    // Remove server banner
    .animatedContainer_fd6364{
        display: none;
    }
    .animatedBannerHoverLayer_fd6364{
        display: none;
    }
    .content_eed6a8 > div[style="height: 84px;"]{
        display: none;
    }

    // Remove boost goal meter
    .container_c75f85{
        display: none;
    }
    .content-2a4AW9 > div[style="height: 16px;"]{
        display: none;
    }

    // Hide channel notice
    .channelNotice-7cg_jN{
        display: none;
    }


    // Category
    .containerDefault_a08117{
        .wrapperCommon_a08117{
            margin: 0 0 0 8px;
            padding-left: 10px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: $TextFillColorPrimary;
            &:hover{
                .name_a08117{
                    color: $TextFillColorSecondary;
                }
            }

            // Wrapper types
            // Muted
            &.muted_a08117{
                .name_a08117{
                    color: $TextFillColorDisabled;
                }
            }

            // Colapse chevrons
            // Remove default chevron
            .icon_a08117{
                display: none;
            }
            // Chevron replacement
            &::after{
                content: "\E70E"; // ChevronDown
                padding-left: 8px;
                @include FontIconFluent;
                font-size: 12px;
            }
            &.collapsed_a08117{
                &::after{
                    content: "\E70D"; // ChevronDown
                }
            }
        }

        // Category name
        .container_cc72c1{
            color: $TextFillColorPrimary;
            @include TypeBody;
            text-transform: none;
        }

        // Hide 'Create Channel' buttons when not hovered
        .children_a08117{
            visibility: hidden;
        }
        &:hover{
            .children_a08117{
                visibility: visible;
            }
        }
    }

    // Channels
    // Indent channels
    .containerDefault_a08117 ~ .containerDefault_f6f816 .link_d8bfb3{
        padding-left: 23px;
    }
    .containerDefault_f6f816{
        // The channel
        &.wrapper_d8bfb3, // Required for Server guide, events, and channels & roles channels
        .wrapper_d8bfb3{
            // Channel name
            .name_d8bfb3{
                color: $TextFillColorSecondary;
                @include TypeBody;
            }
            // Icon
            .icon_d8bfb3{
                width: 16px;
            }

            // Hide channel buttons when not hovered
            .children_d8bfb3 .iconItem_f6f816{
                visibility: hidden;
            }

            &:hover{
                .link_d8bfb3{
                    background-color: $SubtleFillColorSecondary;
                    box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
                }

                // Reveal channel buttons
                .children_d8bfb3 .iconItem_f6f816{
                    visibility: visible;
                }
            }

            // Pill
            &::before{
                content: "";
                width: 3px;
                height: 16px;
                position: absolute;
                top: 9px;
                left: 0px;
                background-color: $AccentFillColorDefault;
                border-radius: 999px;
                transform: scaleY(0%);
                opacity: .3;
                transition: transform 167ms Cubic-bezier(0,0,0,1),
                            opacity 167ms Cubic-bezier(0,0,0,1);
            }

            // Channel types
            // Selected channel
            &.modeSelected_d8bfb3{
                // Pill
                &::before{
                    transform: scaleY(100%);
                    opacity: 1;
                    transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                                opacity 250ms Cubic-bezier(0.55,0.55,0,1);
                }
                .link_d8bfb3{
                    background-color: $SubtleFillColorSecondary;
                }
                // Channel icon
                .icon_d8bfb3{
                    color: $TextFillColorPrimary;
                }
                .name_d8bfb3{
                    color: $TextFillColorPrimary;
                }
            }
            // Unread channel
            &.modeUnreadImportant_d8bfb3{
                // Channel icon
                .icon_d8bfb3{
                    color: $TextFillColorSecondary;
                }
                .name_d8bfb3{
                    color: $TextFillColorSecondary;
                }
            }
            // Muted channel
            &.modeMuted_d8bfb3{
                // Channel icon
                .icon_d8bfb3{
                    color: $TextFillColorDisabled;
                }
                .name_d8bfb3{
                    color: $TextFillColorDisabled;
                }
            }
        }

        // The voice channel user
        .list_a478e5{
            padding-left: 8px;
            .content_cdc675{
                padding-left: 32px;
            }
            // Change border to same green used on guild list
            .avatarSpeaking_cdc675{
                box-shadow:  0 0 0 2px $SystemFillColorSuccess,inset 0 0 0 3px $FocusStrokeColorInner
            }
            // Change user speaking colour to green
            .usernameSpeaking_cdc675{
                color: $SystemFillColorSuccess;
            }
        }

        // Unread channel pill
        .unread_d8bfb3{
            width: 3px;
            height: 16px;
            top: 13px;
            left: 0px;
            background-color: $TextFillColorSecondary;
            border-radius: 2px;
        }
        // Threads
        // Thread channel
        .typeThread_d8bfb3{
            &.wrapper_d8bfb3{
                margin-left: 8px;
            }
            .link_d8bfb3{
                margin-left: 0;
                padding-left: 48px;
            }
        }
    }

    // Voice
    .listDefault_cdc675 .clickable_cdc675:hover .content_cdc675{
        background-color: $SubtleFillColorSecondary;
        box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
    }

    // Show all voice channels button
    .voiceChannelsButton_a08117{
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        border-radius: 4px;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    // Threads
    // Active threads
    .wrapper_d8bfb3{
        &:hover{
            .link_d8bfb3{
                background-color: $SubtleFillColorSecondary;
                box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary; // Using box-shadow because borders cause the div to grow
            }
        }
        .name_d8bfb3{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }
    // Channel tree spine
    .spine_e1e976, .spineBorder_e1e976{
        left: 40px;
    }

    // Unread badge
    .numberBadge_df8943 {
        background-color: $SystemFillColorCritical !important; // For some reason this is in line
        @include TypeCaption;
        color: $TextOnAccentFillColorPrimary;
    }

    // Unread bars
    .unread_c43953{
        .bar_c10249{
            background-color: $SystemFillColorCriticalBackground;
        }
        span{
            font-size: 0;
            &::before{
                @include FontIconFluent;
                color: $SystemFillColorCritical;
                vertical-align: middle;
                font-size: 16px;
            }
        }
        &:hover span::before{
            color: $TextFillColorSecondary;
        }
    }

    .unreadBottom__6be9f{
        span{
            &::before{
                content: "\EDDC"; // CaretDownSolid8
            }
        }
    }

    .unreadTop__6e8c4{
        span{
            &::before{
                content: "\EDDB"; // CaretUpSolid8
            }
        }
    }

    // X in Voice bar
    .bar_eba0ba{
        background-color: $MicaBackgroundFillColorAlt;
        .barText_eba0ba{
            text-transform: none;
        }
    }
}
