.theme-dark .container_adcaac{
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 0;

    // Connection status/disconnect
    .connection_adcaac{
        height: 32px;
    }
    .rtcConnectionStatus_c0cb95{
        padding-bottom: 0;
        @include TypeBody;
        .button_dd4f85{
            line-height: 16px;
        }
    }
    .subtext_e06aad{
        @include TypeCaption;
    }
    .voiceUsers_fb2f1c{
        padding-top: 4px;
    }

    // Video/screen share buttons
    .actionButtons_adcaac{
        grid-gap: 4px;
        // !importants to make these appear as 'default' button instead of accent
        button{
            min-width: unset;
            background-color: $ControlFillColorDefault !important;
            border: 1px solid $ControlStrokeColorDefault !important;
            border-radius: 4px;
            color: $TextFillColorPrimary !important;
            &:hover{
                background-color: $ControlFillColorSecondary !important;
            }
            &:active{
                background-color: $ControlFillColorTertiary !important;
            }

            .contents_dd4f85{
                // Display: flex required to fix alignment of soundboard icon when using non-English - see #249
                display: flex;
                font-size: 0;
                svg{
                    margin-right: 0;
                }
            }
        }
        // Hide buttons when you don't have permission. This also hides the soundboard when you are muted
        .disabledButtonWrapper_dd4f85{
            display: none;
        }
    }
}

// Streaming game/app
.theme-dark .activityPanel_a4d4d9{
    background-color: transparent;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;
    .title_d1da5f{
        @include TypeBody;
    }
}

// Icons
html[lang^="en-"].theme-dark .panels_a4d4d9 .button_dd4f85:not(.rtcConnectionStatusLabel_c0cb95) {
    &::before{
        @include FontIconFluent;
        font-size: 16px;
    }
    .contents_dd4f85{
        display: none;
    }
}
