.theme-dark .container_cbd271{
    background: $LayerOnMicaBaseAltFillColor;
    border-left: 1px solid $CardStrokeColorDefault;

    .members_cbd271{
        background-color: transparent;
    }

    // Group header
    .membersGroup_cbd271{
        padding: 20px 8px 0 15px;
    }
    .container_cc72c1{
        color: $TextFillColorPrimary;
        @include TypeBodyStrong;
        text-transform: none;
    }


    // Member
    .container_d808b0{
        margin-left: 7px;
        background: transparent;
        color: $TextFillColorPrimary;
        // Greyscale offline avatars
        &.offline_a31c43{
            .avatar_d808b0{
                filter: grayscale(100%);
            }
            &:hover{
                .avatar_d808b0{
                    filter: grayscale(0%);
                }
            }
        }
    }
    .layout_d808b0{
        border: 1px solid transparent;
        &:hover{
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
        &::before{
            content: "";
            width: 3px;
            height: 16px;
            position: absolute;
            width: 3px;
            height: 16px;
            top: 16px;
            left: 0;
            background-color: $AccentFillColorDefault;
            border-radius: 999px;

            transform: scaleY(0%);
            opacity: .3;
            transition: transform 167ms Cubic-bezier(0,0,0,1),
                        opacity 167ms Cubic-bezier(0,0,0,1);
        }
    }
    // Selected (user popout open)
    .selected_d808b0 .layout_d808b0{
        background-color: $SubtleFillColorSecondary;
        border-color: $SubtleFillColorSecondary;
        &::before{
            transform: scaleY(100%);
            opacity: 1;
            transition: transform 250ms Cubic-bezier(0.55,0.55,0,1),
                        opacity 250ms Cubic-bezier(0.55,0.55,0,1);
        }
    }
    // Username
    .name_d808b0{
        @include TypeBody;
    }
    // Activity
    .activity_a31c43{
        @include TypeCaption;
        color: $TextFillColorSecondary;
        strong{
            @include TypeCaption;
        }
    }
}

// Remove avatar borders/decorations
// This also removes them from user profile popouts and modals, but not cozy chat.
.avatarDecoration_c51b4e{
    display: var(--fluent-show-avatar-decorations);
}
