.theme-dark .button_dd4f85{
    border-radius: 4px;
    @include TypeBody;

    // Sizes
    &.sizeMin_dd4f85, // eg. Add server 'back' buttons
    &.sizeSmall_dd4f85,
    &.sizeMedium_dd4f85, // eg. Create new server
    &.sizeLarge_dd4f85, // eg. Add a keybind
    &.sizeXlarge__6885c{ // eg. Untrusted link modal
        min-width: 120px;
        min-height: 32px;
        height: 32px;
    }

    // Filled buttons
    &.lookFilled_dd4f85{
        // Brand buttons
        &.colorBrand_dd4f85,
        &.colorGreen_dd4f85, // Join server terms modal
        &.colorBrandNew__8872c{ // eg. User Settings > Accessibility > TTS Rate
            background-color: $AccentFillColorDefault;
            border-width: 1px;
            border-style: inset;
            border-color: $AccentControlElevationBorder;
            color: $TextOnAccentFillColorPrimary;
            &:hover{
                background-color: $AccentFillColorSecondary;
            }
            &:active{
                background-color: $AccentFillColorTertiary;
            }
        }
        // Grey
        &.colorPrimary_dd4f85,
        &.buttonColor_dfbe6b, // "Example Button" in User Settings>Profile
        &.buttonColor_d4af21{ // Voice screen invite button
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }

        // Red
        &.colorRed_dd4f85{
            background-color: $SystemFillColorCriticalBackground;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextOnAccentFillColorPrimary;
            }
        }

        // Disabled
        // eg. Add game popout
        &:disabled{
            background-color: $ControlFillColorDisabled;
            color: $TextFillColorDisabled;
            pointer-events: none;
        }
    }

    // Outlined
    &.lookOutlined_dd4f85{
        &.colorBrand_dd4f85{ // eg. Request Data
            border-color: $ControlStrokeColorDefault;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
        &.colorRed_dd4f85{
            border-color: $SystemFillColorCritical;
            color: $SystemFillColorCritical;
            &:hover{
                background-color: lighten($SystemFillColorCriticalBackground, 20%);
                color: $TextFillColorPrimary;
            }
            &:active{
                background-color: lighten($SystemFillColorCriticalBackground, 40%);
                color: $TextFillColorPrimary;
            }
        }
    }

    // Blank
    &.lookBlank_dd4f85{ // eg. Add server 'back' buttons
        color: $TextFillColorPrimary;
        &.backButton_f5507e{
            background-color: $ControlFillColorDefault;
            border-width: 1px;
            border-style: outset;
            border-color: $ControlElevationBorder;
            color: $TextFillColorPrimary;
            &:hover{
                background-color: $ControlFillColorSecondary;
            }
            &:active{
                background-color: $ControlFillColorTertiary;
            }
        }
    }

    // Link button
    &.lookLink_dd4f85{ // eg. Reveal email button
        background-color: $ControlFillColorDefault;
        border-width: 1px;
        border-style: outset;
        border-color: $ControlElevationBorder;
        color: $TextFillColorPrimary;
        &:hover{
            background-color: $ControlFillColorSecondary;
            .contents_dd4f85{
                background-image: none;
            }
        }
        &:active{
            background-color: $ControlFillColorTertiary;
        }
    }

    // Button with loading ellipses (Server Settings > Save changes)
    &.submitting_e90879{
        .spinner_e90879{
            display: flex;
        }
    }

    // Animations
    .buttonShine_fb742e{
        display: none;
    }
}
