// Channels, members, settings nav
.theme-dark .thin_c49869, // Settings nav
.theme-dark .thin_eed6a8{ // Channels
    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}

// Chat
.theme-dark .auto_c49869{
    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}

// Giphy/Tenor search popout
.theme-dark .scrollbarGhostHairline_c858ce{
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}

// Chatbox
.theme-dark .scrollableContainer_bdf0de{
    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb{
        border-width: 2px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $ControlStrongFillColorDefault;
    }
}
