.theme-dark .nowPlayingColumn_c2739c{
    background: transparent;
    .container_bf550a{
        background-color: $LayerFillColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
    }
    .scroller_bf550a{
        border: 0;
    }

    // Header
    .header_bf550a{
        @include TypeSubtitle;
    }

    // User data consent card
    .card_ae5e0b.outer_c0f6a6{
        background-color: $LayerFillColorDefault;
        .header_ae5e0b,
        .defaultColor__77578 {
            text-align: left;
        }
    }

    // Card
    .wrapper_cd82a7{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        &:hover{
            background-color: $LayerFillColorAlt;
        }
    }
    .inset_c0f6a6{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        border-radius: 4px;
        .section_cd82a7{
            background-color: transparent;
        }
    }

    // Empty
    .emptyCard_f02fcf{
        background-color: $LayerFillColorDefault;
        border: 1px solid $CardStrokeColorDefault;
        align-items: baseline;
        text-align: left;
    }
}
