.theme-dark .privateChannels_f0963d{
    .link_c91bad[href="/channels/@me"]{
        .avatar_ec8679{
            &::before{
                content: "\E13D"; // Contact
                @include FontIconFluent;
                color: $TextFillColorSecondary;
            }
            svg{
                display: none;
            }
        }
    }
    .link_c91bad[href="/store"]{
        display: none;
    }

    .interactive_c91bad{
        &:hover,
        &:focus-within{
            background-color: $SubtleFillColorSecondary;
            box-shadow: inset 0 0 0 1px $SubtleFillColorSecondary;
            .name_ec8679{
                color: $TextFillColorPrimary;
            }
        }
        &.selected_f5eb4b{
            background-color: $SubtleFillColorSecondary;
        }

        .layout_ec8679{
            padding: 0 8px;
        }

        // Name
        .name_ec8679{
            @include TypeBody;
            color: $TextFillColorSecondary;
        }
        // Activity
        .activityText_c91bad{
            @include TypeCaption;
            color: $TextFillColorSecondary;
        }
    }

    // DMs header
    .privateChannelsHeaderContainer_c47fa9 {
        height: auto;
        padding: 12px;
        color: $TextFillColorPrimary;
        @include TypeBody;
        text-transform: none;
    }
}
