.theme-dark .profilePanel_e2cafe{
    .userProfileOuterUnthemed__9741c{
        background-color: transparent;
        border-left: 1px solid $CardStrokeColorDefault;
    }
    .userPanelInnerThemed__651e4{
        background: $LayerFillColorDefault;
    }

    // Section title
    .title__392bc,
    .headerText-3g1XK9{ // 'Deprecated' spotify title
        @include TypeBodyStrong;
        text-transform: none;
    }

    .overlayBackground__345c9{
        background-color: $LayerOnAcrylicFillColorDefult;
    }
}
