.theme-dark .sidebar_a4d4d9{
    .privateChannels_f0963d{
        background-color: transparent;
    }

    .searchBar_f0963d{
        box-shadow: none;
        button{
            background-color: transparent;
            @include TypeBody;
            color: $TextFillColorSecondary;
            text-align: center;
            &::after{
                content: "...";
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .scroller_c47fa9{
        background-color: transparent;
    }
}
