.theme-dark .container_c2739c{
    // Body
    .tabBody_c2739c{
        background-color: $LayerFillColorDefault;
        border-top: 1px solid $CardStrokeColorDefault;
        border-left: 1px solid $CardStrokeColorDefault;
        border-radius: 8px 0 0 0;
        &::before{
            display: none;
        }

        // Search bar
        .searchBar_e0840f{
            margin: 18px 20px 8px 20px;
            background-color: transparent;
        }

        // Header
        .title_a1cafe{
            @include TypeSubtitle;
            color: $TextFillColorPrimary;
            letter-spacing: normal;
            text-transform: none;
        }

        // Item
        .peopleListItem_d51464.active_d51464,
        .peopleListItem_d51464:hover{
            border-radius: 4px;
        }

        // Username
        .username_f3939d{
            @include TypeBodyStrong;
        }
        // User Status
        .text_f7ebfd{
            @include TypeCaption;
        }

        // Buttons
        .actionButton_e01b91{
            background-color: transparent;
            visibility: hidden;
        }

        // Show buttons when hovered
        .peopleListItem_d51464.active_d51464 .actionButton_e01b91,
        .peopleListItem_d51464:hover .actionButton_e01b91{
            visibility: visible;
        }
    }

    // Empty
    .friendsEmpty_a62993{
        .image__08515{
            filter: brightness(200%)
        }
        .text__0e310{
            @include TypeBody;
            color: $TextFillColorPrimary;
        }
    }

    // Add friend
    .header_c96274{
        padding: 20px;
    }
    .addFriendInputWrapper_de812f{
        padding: 0;
        background-color: transparent;
        border: 0;
        .input_f8bc55{
            padding: 0 12px;
            letter-spacing: normal;
        }
    }
    // Remove hint text
    .addFriendHint_de812f{
        display: none;
    }
}

// Icon replacements
html[lang^="en-"].theme-dark .container_c2739c{
    .actionButton_e01b91{
        &::before{
            @include FontIconFluent;
            color: $TextFillColorSecondary;
        }
        svg{
            display: none;
        }
    }
}
