.theme-dark .members_cbd271{
    background-color: $LayerFillColorDefault;

    // Group header
    .membersGroup_cbd271{
        padding: 20px 8px 0 16px;
        color: $TextFillColorPrimary;
        @include TypeBodyStrong;
        text-transform: none;
    }

     // Member
     .container_d808b0{
        background-color: transparent;
        color: $TextFillColorPrimary;
        // Greyscale offline avatars
        &.offline_a31c43{
            .avatar_d808b0{
                filter: grayscale(100%);
            }
            &:hover{
                .avatar_d808b0{
                    filter: grayscale(0%);
                }
            }
        }
        .layout_d808b0{
            border: 1px solid transparent;
            &:hover{
                background-color: $SubtleFillColorSecondary;
                border-color: $SubtleFillColorSecondary;
            }
        }
        &[aria-expanded=true] .layout_d808b0{
            background-color: $SubtleFillColorSecondary;
            border-color: $SubtleFillColorSecondary;
        }
        // Username
        .name_d808b0{
            @include TypeBody;
        }
        // Activity
        .activity_a31c43{
            @include TypeCaption;
            color: $TextFillColorSecondary;
            strong{
                @include TypeCaption;
            }
        }
    }
}
