.theme-dark .container_c2739c{
    background-color: transparent;
    // Toolbar
    .container_fc4f04{
        background-color: transparent;

        // Remove icon
        .children_fc4f04 > .iconWrapper_fc4f04{
            display: none;
        }

        // Tab bar
        .item_c2739c{
            height: 36px;
            margin: 0 0 0 8px;
            border-radius: 0;
            color: $TextFillColorPrimary;
            @include TypeBody;
            &:hover{
                background-color: transparent;
                color: $TextFillColorSecondary;
            }
            &.selected_a0{
                background-color: transparent;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: $AccentLight1;
                    border-radius: 2px;
                    bottom: 2px;
                }
            }
            // Add friend button
            &.addFriend_c2739c{
                background-color: transparent;
                &.selected_a0{
                    color: $TextFillColorPrimary;
                }
            }

            // Badge
            .badge_c2739c{
                background-color: $SystemFillColorCritical !important; // For some reason this is in line
                @include TypeCaption;
                color: $TextOnAccentFillColorPrimary;
            }
        }

        // Remove gradient on right-side of tab bar
        .children_fc4f04::after{
            display: none;
        }
        // Remove divider between Group DM and Inbox
        .divider_fc4f04{
            display: none;
        }
    }
}
